form {
  border: 2px solid #f1f1f1;
    width:20%;
    border-radius: 0.25rem;
    
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.25rem;
}


button {
  background-color: #0d6efd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
}


button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}